body {
	margin: 0px;
	padding: 0px;
	background-color: #2B37B2;
	}

#headline{
	margin-top: 30px;
	font-family: futura;
	color: white;
	width: 100vw;
	padding-bottom: 20px;
	border-bottom: 2px solid #2ACFE8;
	text-align: center;
}


#four{
	color: red;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50%;
	border: 2px solid red;
}



#hendoData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#bsData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#clarkData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#gallData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#nashData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#jackData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#murfData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#memData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#knoxData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#parisData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

#oakData{
	background-color: #2B37B2;
	width: 300px;
	height: 400px;
	font-family: arial;
	border: 2px solid #2ACFE8;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	float: right;
	display: none;
	color: white;
}

.col{
	text-align: center;
	margin-top: 25px;
}

#pic1{
	height:300px;
	background-image: url("../images/sun.png");
	margin: 50px auto;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

#pic2{
	height:300px;
	background-image: url("../images/snow.png");
	margin: 50px auto;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

#pic3{
	height:300px;
	background-image: url("../images/rain.png");
	margin: 50px auto;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

#pic4{
	height:300px;
	background-image: url("../images/tornado.png");
	margin: 50px auto;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}


/*@media screen and (max-width: 955px){
	.row{
		display: block;
		margin: 10px;
	}

	.col4{
		height: 350px;
	}

}*/




/*-webkit-transition-duration: .5s;
	-o-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;*/

